<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>ホーム画面</title>
</head>
<body>
	<h1>ホーム画面</h1>
	<a th:href="@{/create}">
		<button>新規作成</button>
	</a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>品目名</th>
			<th>カテゴリー</th>
			<th>金額</th>
			<th>メモ</th>
			<th>日付</th>
			<th>編集</th>
		</tr>
		<tbody th:each="payments, stat : ${payment}">
		<tr>
			<td th:text="${payments.id}"></td>
			<td th:text="${payments.name}"></td>
			<td th:text="${payments.category}"></td>
			<td th:text="${payments.price}"></td>
			<td th:text="${payments.memo}"></td>
			<td th:text="${payments.create_day}"></td>
			<td>
				<a th:href="@{/update}"></a>
			</td>
		</tr>
		</tbody>
	</table>
</body>
</html>